<ion-view title="Events" id="page6">
  
  <div class="eventhighlight has-header">
    <div class="event-text-box">
      <span class="eventhighlight-text">OCTOBER 8-16</span>
      <span class="eventhighlight-info"><b>WET'N'WILD</b> <br> Discounted Admissions</span>
    </div>
    <div class="getinimagecontainer"><img class="eventhighlight-image" src="img/imgs/event.jpg"/>
    </div>
  </div>
  
  <div class="has-header dateseldiv">
    <ion-list>
      <ion-item class="item item-text-wrap dateselector">
        <div ng-class="button0" class="datebutton" ng-click="showDate(0)">TODAY <br> 9/14</div>
        <div ng-class="button1" class="datebutton" ng-click="showDate(1)">SAT<br> 9/15</div>
        <div ng-class="button2" class="datebutton" ng-click="showDate(2)">SUN<br> 9/16</div>
        <div ng-class="button3" class="datebutton" ng-click="showDate(3)">MON<br> 9/17S</div>
      </ion-item>
    </ion-list>
  </div>
  
  <ion-content padding="false" class="has-header has-highlight" scroll="true">
  
  
    <!---- LIST FOR DATA         
    <ion-list>
      <ion-item ng-repeat="item in items" class="item item-text-wrap">
        <div ng-class="isItemShown(item) ? 'item-expand active' : 'item-expand inactive'">
          <h2>{{ item.title }}</h2>
          <p>{{ item.text }}</p>
        </div>
        <div ng-click="toggleItem(item)" class="item-expand-footer">
          <i ng-class="isItemShown(item) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
          {{ isItemShown(item) ? 'Less' : 'More' }}
        </div>
      </ion-item>
    </ion-list>
    --->
    
    <div ng-show="date0">
        
	<ion-list>
                   
         <ion-item ng-repeat="item in items | filter:{ eventdate: '2016-09-14' } | orderBy:'starttime'" class="item item-text-wrap">
            
			<div ng-class="isItemShown(item) ? 'item-expand active' : 'item-expand inactive'">

            <div ng-click="toggleItem(item)" class="item-expand-footer">
				      <i ng-class="isItemShown(item) ? 'ion-minus' : 'ion-plus'"></i>
	        			{{ isItemShown(item) ? 'Less' : 'More' }}
            </div>
				  
            <h2>{{ item.starttime }}</h2>
            <h2>{{ item.location }}</h2>

            <div class="expandedcontent">
              <p><span>DATE </span>{{ item.eventdate }}</p>
              <p><span>LOCATION </span>{{ item.location }}</p>
              <p>{{ item.description }}</p>
			   <button ng-show="{{item.volunteer}} == '1'" ng-click="showVolunteer('{{item.eventid}}')" class="volunteerBttn">VOLUNTEER</button>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
    
    <div ng-show="date1">
      <ion-list>
                   
         <ion-item ng-repeat="item in items | filter:{ eventdate: '2016-09-15' } | orderBy:'starttime'" class="item item-text-wrap">
            
			<div ng-class="isItemShown(item) ? 'item-expand active' : 'item-expand inactive'">

            <div ng-click="toggleItem(item)" class="item-expand-footer">
				      <i ng-class="isItemShown(item) ? 'ion-minus' : 'ion-plus'"></i>
	        			{{ isItemShown(item) ? 'Less' : 'More' }}
            </div>
				  
            <h2>{{ item.starttime }}</h2>
            <h2>{{ item.location }}</h2>

            <div class="expandedcontent">
              <p><span>DATE </span>{{ item.eventdate }}</p>
              <p><span>LOCATION </span>{{ item.location }}</p>
              <p>{{ item.description }}</p>
			   <button ng-show="{{item.volunteer}} == '1'" ng-click="showVolunteer('{{item.eventid}}')" class="volunteerBttn">VOLUNTEER</button>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
    
    <div ng-show="date2">
      <ion-list>
                   
         <ion-item ng-repeat="item in items | filter:{ eventdate: '2016-09-16' } | orderBy:'starttime'" class="item item-text-wrap">
            
			<div ng-class="isItemShown(item) ? 'item-expand active' : 'item-expand inactive'">

            <div ng-click="toggleItem(item)" class="item-expand-footer">
				      <i ng-class="isItemShown(item) ? 'ion-minus' : 'ion-plus'"></i>
	        			{{ isItemShown(item) ? 'Less' : 'More' }}
            </div>
				  
            <h2>{{ item.starttime }}</h2>
            <h2>{{ item.location }}</h2>

            <div class="expandedcontent">
              <p><span>DATE </span>{{ item.eventdate }}</p>
              <p><span>LOCATION </span>{{ item.location }}</p>
              <p>{{ item.description }}</p>
			  <button vng-show="{{item.volunteer}} == '1'" ng-click="showVolunteer('{{item.eventid}}')" class="volunteerBttn">VOLUNTEER</button>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
    
    <div ng-show="date3">
      It's MONDAY
    </div>
    
  </ion-content>
</ion-view>